body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-image {
    background: url('./img/IMG_6781.jpeg') no-repeat center center;
    background-size: cover;
    height: 600px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    margin-bottom: 0;
}

.welcome-section, .features-section, .special-offers-section, .gallery-section, .pricing-section, .contact-section {
    padding: 60px 0;
}

.card {
    margin-bottom: 5px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

img.img-fluid {
    max-height: 250px;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 40px;
}

.contact-info p {
    margin: 0;
    padding: 5px 0;
}

.contact-info a { 
    color: #ffffff;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}



.pricing-section {
    text-align: center;
    direction: rtl;
}



.footer {
    background-color: #343a40;
    color: #ffffff;
}

.footer h5 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer p, .footer a {
    margin: 0;
    font-size: 1rem;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin-right: 10px;
}

.footer .text-center {
    text-align: center;
}

.footer .text-md-left {
    text-align: left;
}

.footer .text-md-right {
    text-align: right;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
.locat {
    width: 50%;
    height: 40px;
    background-color: #0393E3;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.locat a {
    color: white;
    text-decoration: none;
}
.locat:hover {
    background-color: #097ebe;
}